.btn-margin {
  margin: 7px 3px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black
  
}

.container {
  padding-top: 50px;
  
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  
}